.jobs .row.header {
    display: none;
}

.jobs.container {
    width: 100%;
}
.jobs .row.header {
    border: none;
}
.jobs .row {
 margin-bottom:10px;
background: #fff;
margin-bottom: 25px;
padding: 10px 10px 0 10px;
margin: 0px 10px 20px 10px;
border: 1px solid #d9d9d9;
}
.jobs [class*=ratting] {
    display: inline-block;
}
.jobs [class*=rating]::after {
    color: gold;
    width: 50px;
    height: 20px;
}
.jobs .ratting--1::after {
    content: "*";
    color: gold;
}
.jobs .ratting--2::after {
    content: "**";
    color: gold;
}
.jobs .ratting--3::after {
    content: "***";
    color: gold;
}
.jobs .ratting--4::after {
    content: "****";
    color: gold;
}
.jobs .ratting--5::after {
    content: "*****";
    color: gold;
}

@media (min-width: 550px) {
    .jobs .row.header {
        display: block;
    }   
}