.login.container .row {
    padding: 0 15px;
    text-align: center;
}   
.login.container button,
.login input[type=email] {
    width: 100%;
}
@media (min-width: 550px) {
    .login.container .row {
        padding: 0;
    }   
    .login.container button,
    .login input[type=email] {
        width: 400px;
    }
}