.star-rating {
  font-size: 24px;
  display: inline-block;
  line-height: 1;
}

.star-rating i {
  color: #ffc107;
}

.star-rating i.fas.fa-star-half-alt {
  position: relative;
}

.star-rating i.fas.fa-star-half-alt:before {
  position: absolute;
  content: "\f089";
  color: #ffc107;
  left: 0;
  top: 0;
}

.star-rating i.far.fa-star {
  color: #dee2e6;
}
